<div class="toughts-form-container">
    <a href="/toughts/dashboard">voltar</a>
    <h1>Creating a Tought</h1>
    <form action="/toughts/add" method="POST">
        <div class="form-controll">
            <label for="title">Tought : </label>
            <input type="text" name="title" placeholder="Enter your tought">
        </div>
        <input type="submit" value="Create">
    </form>
</div>