<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Add Tought</a>
    </div>
    <h3>your Tought</h3>
    <ul>
        {{#each toughts}}
            <li class="dash_pens">
                <span class="label">{{this.title}}</span>
                <span class="actions">
                    <a href="/">Edit</a>
                    <form action="/toughts/remove" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Excluir" class="btn" >
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
    {{#if emptyToughts}}
        <p>Ainda não foram cadastrados nenhum pensamento!</p>
        <a href="/toughts/add">Seja o primeiro a criar um pensamento.</a>
    {{/if}}
</div>