<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/logo.png" type="image/png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" >
    <title>Toughts</title>
</head>
<body>
    <header id="mainHeader"> 
        <a href="/">
            <div class="logo">
                <img src="/img/logo.png" alt="logo">
                <h2>Toughts</h2>
            </div>
        </a>

        <nav id="mainNav">
            <ul>
                <li><a href="/">Toughts</a></li>
                <li><a href="/auth/login">login</a></li>
                <li><a href="/auth/register">register</a></li>
            </ul>
        </nav>
    </header>

    {{#if messages.message}}
        {{messages.message}}
    {{/if}}
    {{{ body }}}
    
    <footer id="mainFooter">
        <p><span>Toughts</span>&copy; 2023</p>
    </footer>
</body>
</html>